[Unit]
Description=mjpg_streamer for picam
After=network.target

[Service]
Type=simple
User=root
RemainAfterExit=yes
ExecStart=/home/pi/mjpg-streamer-setup/bin/startAllCams

[Install]
WantedBy=multi-user.target
